:root {
    --main-color:#026dfe;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: var(--main-color);
}
::-webkit-scrollbar-thumb {
    background: rgb(10, 10, 105);
    border: 1px dashed rgb(119, 119, 255);
    border-radius: 4px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:black;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* ------- styling the nave bar -------*/
header {
    width: 100%;
    min-height: 400px;
    height: 500px;
    background: url("images/contact-bg.jpg") no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
header nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1b1b1bb2;
    padding: 0 15vw;
}
header nav .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
}
header nav .nav-menu .nav-item {
    padding: 5px 10px;
    margin: 0 10px;
    transition: border-bottom linear 200ms;
}  
header nav .nav-menu .nav-item:hover, header nav .nav-menu .nav-item:focus, header nav .nav-menu .nav-focus {
    border-bottom: 3px solid var(--main-color);
}  
header nav .nav-menu .nav-item a {
    color: white;
    font-weight: 600;
}
header nav .nav-menu a {
    display: block;
    width: 30%;
}

header nav #logo {
    height: 100px;
    width: 200px;
}

header nav .fa-bars {
    display: none;
}
header nav #nav-menu-mobil {
    display: none;
}


header .header-content {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .header-content h3, header .header-content h3 a {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 400;
    transition: color linear 200ms;
}
header .header-content h3 a:hover {
    color: var(--main-color);
}
header .header-content h2 {
    color: white;
    font-size: 60px;
    margin-top: 8px;
}





/* ------- styling the Contact Form part -------*/
main {
    width: 100%;
    background-color: #262626;
}
.contact-section {
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 100px 15px 100px;
    margin: 0 auto;
}
.contact-section .title {
    width: 100%;
    height: fit-content;
    margin: 50px 0;
}
.contact-section .title h3 {
    font-size: 40px;
    color: white;
}
.contact-section .title h5 {
    font-size: 18px;
    color: #a7a7a7;
}

.contact-section .contact {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.contact-section .contact .contact-info {
    width: 40%;
    display: flex;
    flex-direction:column;
}
.contact-section .contact .contact-info>p {
    color: #a7a7a7;
    font-size: 14px;
    font-weight: 300;
    line-height: 200%;
    margin-bottom: 30px;    
}
.contact-section .contact .contact-info .contact-element {
    display: flex;
    padding: 20px;
    margin: 10px 0;
}
.contact-section .contact .contact-info .contact-element i {
    color: var(--main-color);
    font-size: 18px;
    padding: 2px;
    margin-right:30px;
}
.contact-section .contact .contact-info .contact-element div {
    display: flex;
    flex-direction: column;
}
.contact-section .contact .contact-info .contact-element div p {
    font-size: 14px;
    font-weight: 300;
    color: #a7a7a7;
}
.contact-section .contact .contact-info .contact-element div a {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.contact-section .contact .contact-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 30px;
}
.contact-section .contact .contact-form form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}
.contact-section .contact .contact-form form input {
    width: 100%;
}
.contact-section .contact .contact-form form input::placeholder, .contact-section .contact .contact-form form textarea::placeholder {
    color: #a7a7a7;
    font-style: italic;

}

.contact-section .contact .contact-form form input,.contact-section .contact .contact-form form textarea {
    width: 100%;
    margin:0 20px 10px 0;
    font-size: 14px;
    color:white;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #a7a7a7;
    padding: 15px 0px;
    outline: none;
}
.contact-section .contact .contact-form form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-section .contact .contact-form form div input {
    width: 44%;
    margin:0 20px 10px 0;
    outline: none;
}

.contact-section .contact .contact-form form input[type="submit"] {
    width: 200px;
    border: 2px solid var(--main-color);
    color: white;
    cursor: pointer;
    outline: none;
    transition:box-shadow linear 200ms;
}

.contact-section .contact .contact-form form input[type="submit"]:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--main-color);
}




/* ------- styling the Footer part -------*/
#up {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1%;
    right: 1%;
    width: 70px;
    height: 50px;
    background-color: var(--main-color);
    color: white;
    z-index: 10;
    cursor: pointer;
    font-size: 30px;
    transition: font-size linear 200ms;
}
#up:hover {
    font-size: 40px;
}
#up a {
    color: white;
}

footer {
    width: 100%;
    min-height: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #000915;
    padding: 50px ;
}
footer .footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
footer .footer-links div {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
footer .footer-links div h6 {
    font-size: 18px;
    color: white;
    margin: 20px 0;
}
footer .footer-links div h6::after {
    content: "";
    display: block;
    background-color: var(--main-color);
    width: 40px;
    height: 1px;
    margin: 8px 0;
    border: 1px solid var(--main-color);
}
footer .footer-links .letter {
    width: 35%;
}
footer .footer-links .letter form {
    display: flex;
    flex-direction: column;
}
footer .footer-links .letter form input {
    width: fit-content;
    background-color: transparent;
}
footer .footer-links .letter form input[type="email"] {
    font-size: 16px;
    font-style: italic;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid gray;
    color: gray;
    margin: 10px 0;
    padding: 10px 10px 10px 0;
    outline: none;
}
footer .footer-links .letter form input[type="submit"] {
    color: white;
    margin: 20px 0;
    padding: 15px 30px;
    border:3px solid var(--main-color);
    cursor: pointer;
    transition: box-shadow linear 200ms;
}
footer .footer-links .letter form input[type="submit"]:hover, footer .footer-links .letter form input[type="submit"]:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--main-color);
}
footer .footer-links .links ul {
    display: flex;
    flex-direction: row;
}
footer .footer-links .links ul div li a {
    font-weight: 300;
    color: rgb(161, 161, 161);
    transition: color linear 200ms;
}
footer .footer-links .links ul div li a:hover {
    color: var(--main-color);
}

footer hr {
    margin:20px 0;
}

footer .footer-rights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
footer .footer-rights p {
    font-size: 14px;
    font-weight: 300;
    color: rgb(207, 207, 207);
    margin:20px 0;
}
footer .footer-rights p i {
    color: var(--main-color);
}
footer .footer-rights p span {
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
footer .footer-rights div i {
    color: white;
    margin: 5px 5px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 2px;
    cursor: pointer;
    transition: border linear 200ms;
}
footer .footer-rights div i:hover {
    border-color: white;
}







@media screen and (max-width:1320px) {

}
@media screen and (max-width:900px) {
    .contact-section .contact .contact-form {
        width: 80%;
        padding: 0 10px;
    }
    .contact-section .contact .contact-form form input[type="submit"] {
        width: 140px;
        font-size: 12px;   
    }
}
@media screen and (max-width:768px) {
    header nav .nav-menu {
        margin: 0 30px;
    }
    header nav #logo {
        height: 90px;
        width: 180px;
    }
    header .header-content h2 {
        font-size: 45px;
    }


    .contact-section .title h3 {
        font-size: 30px;
    }
    .contact-section .title h5 {
        font-size: 16px;
    }
    
    .contact-section .contact {
        flex-direction: column;
        align-items: center;
    }
    .contact-section .contact .contact-info {
        width: 80%;
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .contact-section .contact .contact-form {
        margin-top: 50px;
    }
    .contact-section .contact .contact-form form input[type="submit"] {
        align-self: center;   
    }
  
}

@media screen and (max-width:630px) {
    header nav {
        width: 100%;
        height: 100px;
        padding: 0 15vw;
        justify-content: space-between;
        position: relative;
    }
    header nav .nav-menu {
        display: none;
    }
    header nav .fa-bars {
        display: block;
        font-size: 30px;
        color: white;
        margin: 0 30px;
        transition: color linear 200ms;
    }
    header .menu-on .fa-bars {
        color: var(--main-color);
    }
    header nav #logo {
        height: 60px;
        width: 100px;
    }

    header nav #nav-menu-mobil {
        display: flex;
        flex-direction: row;
        padding: 20px 7px;
        background: #262626;
        position:absolute;
        top: 65%;
        left: 50%;
        transform: rotateX(90deg) translateX(-51.5%);
        transition:all linear 300ms;
        z-index: 1;
    }
    header .menu-on #nav-menu-mobil {
        top: 100%;
        transform: rotateX(0deg) translateX(-51.5%);
    }

    header nav #nav-menu-mobil .nav-item {
        padding: 5px 10px;
        margin: 0 7px;
    }  
    header nav #nav-menu-mobil .nav-item a {
        color: white;
        font-weight: 600;
    }
    
}
@media screen and (max-width:500px) {
    .contact-section .contact .contact-form form div {
        flex-direction: column;
    }
    .contact-section .contact .contact-form form div input {
        width: 100%;
        margin-top: 10px;
        
    }
}


@media screen and (max-width:440px) {
    header nav #nav-menu-mobil {
        display: flex;
        flex-direction: row;
        padding: 10px 7px;
        background: #262626;
        position:absolute;
        top: 65%;
        left: 50%;
        transform: rotateX(90deg) translateX(-51.5%);
        transition:all linear 300ms;
        z-index: 1;
    }

    header nav #nav-menu-mobil .nav-item {
        padding: 5px 7px;
        margin: 0 5px;
    }   
    header nav #nav-menu-mobil .nav-item a {
        font-size: 12px;
    } 

    
        
    .contact-section .contact .contact-info {
        width: 90%;
    }
    .contact-section .contact .contact-info>p {
        color: #a7a7a7;
        font-size: 12px;  
    }
    .contact-section .contact .contact-info .contact-element {
        padding: 5px;
    }
    .contact-section .contact .contact-info .contact-element div a {
        font-size: 14px;
    }

}

@media screen and (max-width:375px) {
    header nav .fa-bars {
        font-size: 25px;
    }
    header nav #nav-menu-mobil {
        display: flex;
        flex-direction: row;
        padding: 8px 5px;
        background: #262626;
        position:absolute;
        top: 65%;
        left: 50%;
        transform: rotateX(90deg) translateX(-51.5%);
        transition:all linear 300ms;
        z-index: 1;
    }

    header nav #nav-menu-mobil .nav-item {
        padding: 5px 5px;
        margin: 0 5px;
    }   
    header nav #nav-menu-mobil .nav-item a {
        font-size: 12px;
    } 
   




    footer {
        padding: 20px;
    }
    footer .footer-links {
        flex-direction: column;
    }
    footer .footer-links div {
        width: 80%;
    }
    footer .footer-links .letter {
        width: 80%;
    }
    footer .footer-rights {
        text-align: center;
        flex-direction: column;
    }
}

@media screen and (max-width:280px) {
}